<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            @Html.ActionLink("Menzy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        @if (User.IsInRole("CanManageFoods"))
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Hrana", "Index", "Foods")</li>
                    <li>@Html.ActionLink("Košarica", "Index", "Cart")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>}
        else
        {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hrana", "Index", "Foods")</li>
                    <li>@Html.ActionLink("Košarica", "Index", "Cart")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        }

    </div>
</div>
