@using Vjezba.Model
@model List<Proizvod>

<table style="margin-top: 20px;" class="table table-condensed">
    <thead>
        <tr>
            <th>Naziv proizvoda</th>
            <th>Cijena proizvoda</th>
            <th>Oznaka</th>
            <th>Mj jedinica</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Naziv</td>
            <td>@item.Cijena</td>
            <td>@item.OznakaGrupe</td>
            <td>@item.MjernaJedinica</td>
            <td>
                <a asp-controller="Racun" asp-action="Details" asp-route-id="@item.IDProizvod">[detalji o proizvodu]</a>
            </td>
            <td>
                <a asp-controller="Racun" asp-action="Delete" asp-route-id="@item.IDProizvod">[Obrisi robu]</a>
            </td>

        </tr>}
    </tbody>
</table>