@using System.Web.UI.WebControls
@using Menzy.Models
@model IEnumerable<Menzy.Models.ApplicationUser>
<head>
    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #00bc8c;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 20px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -0px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>

@{
    ViewBag.Title = "Korisnici";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<button onclick="location.href='@Url.Content("/Account/Register")'" class="button" type="button" style="vertical-align:middle"><span>Novi student </span></button>

<table id="AspNetUsers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Uredi</th>
            <th>Izbrisi</th>
        </tr>
        @foreach (var user in Model)
        {
    <tr>
        <th>@user.Ime</th>
        <th>@user.Prezime</th>
        <th>@user.Email</th>
        <th>
            <a  class="btn btn-primary" href="~/Admin/EditUser/@user.Id"> Uredi </a>
        </th>

        <th><a class="btn btn-danger"href="~/Admin/DeleteUser/@user.Id" onclick="return confirm('Želite li izbrisati korisnik @user.Ime')">Izbrisi</a></th>
    </tr>
                
                }
        </thead>
        <tbody></tbody>
    </table>
